<%= form_tag do %>
	<% if @tests %>
		<h1>Listing tests</h1>

<table>
  <tr>
    <th>Required1</th>
    <th>Required2</th>
    <th>Optional1</th>
    <th>Optional2</th>
    <th>Marked</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tests.each do |test| %>
  <tr>
    <td><%= test.required1 %></td>
    <td><%= test.required2 %></td>
    <td><%= test.optional1 %></td>
    <td><%= test.optional2 %></td>
    <td><%= test.marked %></td>
    <td><%= link_to 'Show', test %></td>
    <td><%= link_to 'Edit', edit_test_path(test) %></td>
    <td><%= check_box_tag 'marked' %></td>
  </tr>
<% end %>
</table>
<% end %>
<% end %>
<br />
Selected Count = <%= @tests.count %>
<br>
Marked Count = <%= @marked.count %>
<br />
<br>
<%= link_to 'New Test', new_test_path %>
